<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="Viewpoint" contant="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


    <title>ToDo List</title>
</head>

<body>
    <div class="ui container">
        <h1 class="ui center aligned header">To Do List for {{ current_user.email }}</h1>
        <h3 class="ui center aligned header">{{ page_date.today }}</h3>

        <div class="ui two cards">
            <div class="card">
                <h2 class="ui center aligned header">Today's Tasks</h2>
                <div class="ui grid">
                    {% for todo in page_date.todo_list %}
                    <div class="row">
                        <div class="twelve wide column">

                            <i class="clipboard outline icon"></i>
                            <span>{{ todo.title }}</span>

                        </div>
                        <div class="column">
                            <a class="ui blue button " href="/update/{{ todo.id }}">Finish</a>

                        </div>

                    </div>
                    {% endfor %}
                </div>
                <hr>
                <form class="ui form" action="/add" method="post">
                    <div class="field">
                        <div class="ui grid">
                            <div class="twelve wide column">
                                <input type="text" name="title" placeholder="Enter Todo...">
                            </div>
                            <div class="column">
                                <button class="ui blue button" type="submit">Add</button>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="card">
                <h2 class="ui center aligned header">Future list</h2>
                
                <div class=" ui grid">
                    {% for todo in page_date.future_todo %}
                    <div class="row">
                        <div class="seven wide column">

                            <i class="clipboard outline icon"></i>
                            <span>{{ todo.title }}</span>

                        </div>
                        <div class="four wide column">
                            <span>{{ todo.due_day }}</span>
                        </div>
                        <div class="column">
                            <a class="ui blue button " href="/update/{{ todo.id }}">Finish</a>

                        </div>

                    </div>
                    {% endfor %}
                </div>
                <br>
                <form class="ui form" action="/add_future" method="post">

                    <div class=" ui grid">
                        <div class="seven wide column">
                            
                            <input type="text" name="title" placeholder="Enter Todo...">
                        </div>
                        <div class="six wide column">
                            
                            <input type="date" name="due_day">
                        </div>
                        <div class="three wide column">
                            <div class="bottom aligned content">
                                <button class="ui blue button" type="submit">Add</button>
                            </div>
                        </div>
                    </div>

                    
                </form>
            </div>
        </div>

        <div class="ui two cards">
            <div class="card">
                <h2 class="ui center aligned header">Today's Achievement</h2>
                <div class="ui grid">
                    {% for todo in page_date.done_list %}
                    <div class="row">
                        <div class="ten wide column">

                            <i class="check square icon"></i>
                            <span style="color: green;">{{ todo.title }}</span>

                        </div>
                        <div class="six wide column">
                            <a class="ui blue button " href="/update/{{ todo.id }}">Undo</a>
                            <a class="ui red button " href="/delete/{{ todo.id }}">Delete</a>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="card">
                <p>To do: A javascript calander</p>
            </div>
        </div>
    </div>
    <hr>
    <a href="/logout">Log Out</a>


    </div>

</body>

</html>